.paging {
    text-align: center;
    display: flex;
    justify-content: center;
    padding: 20px 0;
}

.number {
    margin: 0 2px;
    width: 40px;
    height: 40px;
    border-radius: 5px;
    text-align: center;
    line-height: 40px;
    font-size: 16px;
    font-family: sans-serif;
    color: #000;
    cursor: pointer;
    transition: background 200ms ease-in 0s;
}

.number:not(.current):hover,
.btnNext:hover,
.btnPrev:hover {
    background-color: #fcdab0;
}

.number.current {
    color: #fff;
    background-color: #c92127;
}

.disabled:hover {
    background-color: #fff !important;
    cursor: default;
}

.btnPrev,
.btnNext {
    background-repeat: no-repeat;
    background-position: center;
    width: 40px;
    border-radius: 5px;
    transition: all 300ms ease-in 0s;
    cursor: pointer;
}

.btnNext {
    background-image: url('https://www.fahasa.com/skin/frontend/ma_vanese/ma_vanesa2/images/right_orange.png');
}

.btnPrev {
    background-image: url('https://www.fahasa.com/skin/frontend/ma_vanese/ma_vanesa2/images/left_orange.png');
}
