.totalPayment {
    text-align: right;
    margin-right: 50px;
    margin-top: 50px;
    font-size: 24px;
    font-weight: 700;
    color: #c92127;
}
.label {
    font-size: 14px;
    color: #333;
    margin-right: 5px;
}
.orderInfo {
    display: flex;
    justify-content: space-between;
}
.wrap {
    margin-top: 30px;
}
.text {
    color: #c92127;
    font-weight: 700;
}
.text + .text {
    margin-top: 10px;
}
.label {
    font-size: 13px;
    font-weight: 700;
    display: inline-block;
    margin-right: 5px;
}
