.orders {
    border-top: 1px solid #ccc;
    border-left: none;
    border-right: none;
}
.bookItem {
    display: flex;
    position: relative;
    padding: 15px 0;
    border-bottom: 1px solid #ccc;
}
.bookImage {
    width: 100px;
    height: 100px;
}
.bookInfo {
    font-family: sans-serif;
    max-width: 650px;
}
.name {
    font-size: 20px;
    font-weight: 700;
}
.amount {
    margin-top: 5px;
}
.price {
    position: absolute;
    right: 20px;
    top: 50%;
    transform: translateY(-50%);
    font-size: 14px;
    font-weight: 600;
}
