.message{
    display: flex;
    flex-direction: column;
    margin-top: 20px;
}
.messageTop{
    display: flex;
}
.messageImg{
    width: 32px;
    height:32px;
    border-radius: 50%;
    object-fit: cover;
    margin-right: 10px;
}

.messageText{
    padding-left:10px;
    padding-right: 5px;
    padding-bottom: 8px;
    padding-top: 8px;
    border-radius: 20px;
    background-color: #1877f2;
    color: white;
    justify-content: space-between;
    max-width: 200px;
}

.messageBottom{
    font-size: 12px;
    margin-top: 0;
}

.message.own{
    align-items: flex-end;
}

.message.own .messageText{
    background-color: rgb(238, 236, 236);
    color: black;
}